@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body {
    font-family: 'Fredoka One', cursive;
    background: linear-gradient(#0ea4a4, #45c595) no-repeat;
    margin: 0;
    height: 100%;
}

.content {
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    background-color: snow;
    padding: 1rem;
}

.menu {
    position: sticky;
    align-items: center;
    justify-content: center;
    top: 0;
    display: flex;
    width: 100%;
    background-color: lightgray;
    z-index: 2;
    box-shadow: 0 0.4rem 2rem;
}

.menu__link {
    padding: 0.8rem 0.8rem 0.4rem;
    -webkit-transition: background 0.6s;
    transition: background 0.6s;
}

.menu__link--color-darkorange {
    background: linear-gradient(lightgray, lightgray 50%, #CAF0F8 50%, #CAF0F8);
    background-size: 100% 200% ;
    border-bottom: solid 0.4rem #CAF0F8;
}

.menu__link--color-orange {
    background: linear-gradient(lightgray, lightgray 50%, #0096C7 50%, #0096C7);
    background-size: 100% 200% ;
    border-bottom: solid 0.4rem #0096C7;
}

.menu__link--color-lightorange {
    background: linear-gradient(lightgray, lightgray 50%, #0077B6 50%, #0077B6);
    background-size: 100% 200% ;
    border-bottom: solid 0.4rem #0077B6;
}


.menu__link--color-darkblue {
    background: linear-gradient(lightgray, lightgray 50%, #023E8A 50%, #023E8A);
    background-size: 100% 200% ;
    border-bottom: solid 0.4rem #023E8A;
}

.menu__link:hover {
    background-position: 100% 100%;
    padding-bottom: 0.8rem;
    border: 0;
}

.hover__pointer:hover {
    cursor: pointer;
}
