@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body {
    font-family: 'Fredoka One', cursive;
    background-image: url("/static/images/maybe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    min-height: 100%;
}

.content {
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    background-color: snow;
    border: solid 0;
    border-radius: 2rem;
}

.menu {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-areas:
        "one one two two two two two two three three";
    grid-auto-columns: 1fr;
    width: 100%;
    background-color: lightgray;
    z-index: 2;
    box-shadow: 0 0.4rem 2rem;
}

@media screen and (max-width: 980px) {
    .menu {
        display: none;
    }
}

.menu__items {
    display: flex;
    justify-content: center;
}

.menu__link {
    padding: 0.8rem 0.8rem 0.4rem;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}

.menu__link--color-darkorange {
    background: linear-gradient(lightgray, lightgray 50%, #CAF0F8 50%, #CAF0F8);
    background-size: 100% 200%;
    border-bottom: solid 0.4rem #CAF0F8;
}

.menu__link--color-orange {
    background: linear-gradient(lightgray, lightgray 50%, #0096C7 50%, #0096C7);
    background-size: 100% 200%;
    border-bottom: solid 0.4rem #0096C7;
}

.menu__link--color-lightorange {
    background: linear-gradient(lightgray, lightgray 50%, #0077B6 50%, #0077B6);
    background-size: 100% 200%;
    border-bottom: solid 0.4rem #0077B6;
}


.menu__link--color-darkblue {
    background: linear-gradient(lightgray, lightgray 50%, #27496D 50%, #27496D);
    background-size: 100% 200%;
    border-bottom: solid 0.4rem #27496D;
}
.menu__link--color-darkkblue {
    background: linear-gradient(lightgray, lightgray 50%, #033E8A 50%, #033E8A);
    background-size: 100% 200%;
    border-bottom: solid 0.4rem #023E8A;
}
.menu__link--color-darkkbluee {
    background: linear-gradient(lightgray, lightgray 50%, #142850 50%, #142850);
    background-size: 100% 200%;
    border-bottom: solid 0.4rem #142850;
}
.menu__link:hover {
    background-position: 100% 98%;
}

.hover__pointer:hover {
    cursor: pointer;
}

.menu__log {
    border-radius: 0.2rem;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(1, 133, 173, 1);
    box-shadow: 0 0 0.6rem rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    margin: auto 0.5rem;
    padding: 0.5rem;
}

.menu__log:hover {
    color: white;
    box-shadow: 0 0 0.6rem rgba(1, 133, 173, 0.6);
    background-color: rgb(0, 150, 199);
}

.logRegister {
    display: flex;
    justify-content: center;
}

.card__grid1 {
    grid-area: one;
}

.card__grid2 {
    grid-area: two;
}

.card__grid3 {
    grid-area: three;
}

.card__grid4 {
    grid-area: four;
}

.card__grid5 {
    grid-area: five;
}

.content__text {
    padding: 1rem;
}

.menu__mobile {
    position: sticky;
    top: 0.5rem;
    margin: 0.5rem;
    width: fit-content;
    z-index: 5;
}

.mobile__bar {
    min-height: 0.25rem;
    width: 1.4rem;
    background-color: black;
    margin: 0.2rem;
    transition: 0.3s;
    position: relative;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    background-color: rgb(18, 64, 119);
    z-index:4;
    transition: 0.5s;
    color: snow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay__links {
    display: flex;
    flex-direction: column;
}

.overlay__links h3 {
    cursor: pointer;
    margin: 1rem;
}

@media screen and (min-width: 980px) {
    .menu__mobile {
        display: none;
    }
}


.content__title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20rem;
}

.content__title h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: xxx-large;
}