.content {
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    background-color: snow;
    padding: 1rem;
}

h2, h1, .biggerSpan {
    margin: 1rem;
}

.biggerSpan {
    font-size: 1.5em;
    font-weight: bold;
}

.dashboard {
    margin-bottom: 1rem;
}

.dashboard__selection {
    display: none;
}

.dashboard__slider {
    width: 20rem;
    height: 0.5rem;
    display: block;
    background: #ddebf6;
    border-radius: 5px;
}

.dashboard__slider .dashboard__slider__bar {
    width: 50%;
    height: 0.5rem;
    background: #008fff;
    border-radius: 5px;
}

.dashboard #dashboard__option_myschool:checked ~ .dashboard__slider .dashboard__slider__bar {
    margin-left: 0;
}

.dashboard #dashboard__option_myschool:checked ~ .dashboard__page .dashboard__page__myschool {
    left: 0;
}

.dashboard #dashboard__option_myschool:checked ~ .dashboard__page .dashboard__page__myprogress {
    left: 100%;
}

.dashboard #dashboard__option_myprogress:checked ~ .dashboard__slider .dashboard__slider__bar {
    margin-left: 50%;
}

.dashboard #dashboard__option_myprogress:checked ~ .dashboard__page .dashboard__page__myschool {
    left: -100%;
}

.dashboard #dashboard__option_myprogress:checked ~ .dashboard__page .dashboard__page__myprogress {
    left: -100%;
}

.dashboard label, .dashboard__slider .dashboard__slider__bar {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}

.dashboard label, .dashboard__page .dashboard__page__myschool {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}

.dashboard label, .dashboard__page .dashboard__page__myprogress {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}

.dashboard__page {
    display: flex;
    overflow: hidden;
}

.dashboard__page__myschool {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    left: 0;
}

.dashboard__page__myprogress {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    left: 100%;
}

.myschool__content {
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    overflow: hidden;
}
