@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #ddebf6;
    margin: 0;
}

.content {
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    background-color: snow;
    padding: 1rem;
}

h2, h1, .biggerSpan {
    margin: 1rem;
}

.biggerSpan {
    font-size: 1.5em;
    font-weight: bold;
}

.dashboard {
    margin-bottom: 1rem;
}

.dashboard__selection {
    display: none;
}

.dashboard__slider {
    width: 20rem;
    height: 0.5rem;
    display: block;
    background: #ddebf6;
    border-radius: 5px;
}

.dashboard__slider .dashboard__slider__bar {
    width: 50%;
    height: 0.5rem;
    background: #008fff;
    border-radius: 5px;
}

.dashboard #dashboard__option_myschool:checked ~ .dashboard__slider .dashboard__slider__bar {
    margin-left: 0;
}

.dashboard #dashboard__option_myschool:checked ~ .dashboard__page .dashboard__page__myschool {
    left: 0;
}

.dashboard #dashboard__option_myschool:checked ~ .dashboard__page .dashboard__page__myprogress {
    left: 100%;
}

.dashboard #dashboard__option_myprogress:checked ~ .dashboard__slider .dashboard__slider__bar {
    margin-left: 50%;
}

.dashboard #dashboard__option_myprogress:checked ~ .dashboard__page .dashboard__page__myschool {
    left: -100%;
}

.dashboard #dashboard__option_myprogress:checked ~ .dashboard__page .dashboard__page__myprogress {
    left: -100%;
}

.dashboard label, .dashboard__slider .dashboard__slider__bar {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}

.dashboard label, .dashboard__page .dashboard__page__myschool {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}

.dashboard label, .dashboard__page .dashboard__page__myprogress {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}

.dashboard__page {
    display: flex;
    overflow: hidden;
}

.dashboard__page__myschool {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    left: 0;
}

.dashboard__page__myprogress {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    left: 100%;
}

.myschool__content {
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    overflow: hidden;
}

.menu {
    position: sticky;
    align-items: center;
  justify-content: center;
    top: 0;
    display: flex;
    width: 100%;
    background-color: lightgray;
    z-index: 2;
    box-shadow: 0 0.4rem 2rem;
}

.menu__link {
    padding: 0.8rem 0.8rem 0.4rem;
    -webkit-transition: background 0.6s;
    transition: background 0.6s;
}

.menu__link--color-darkorange {
    background: linear-gradient(lightgray, lightgray 50%, #CAF0F8 50%, #CAF0F8);
    background-size: 100% 200% ;
    border-bottom: solid 0.4rem #CAF0F8;
}

.menu__link--color-orange {
    background: linear-gradient(lightgray, lightgray 50%, #0096C7 50%, #0096C7);
    background-size: 100% 200% ;
    border-bottom: solid 0.4rem #0096C7;
}

.menu__link--color-lightorange {
    background: linear-gradient(lightgray, lightgray 50%, #0077B6 50%, #0077B6);
    background-size: 100% 200% ;
    border-bottom: solid 0.4rem #0077B6;
}


.menu__link--color-darkblue {
    background: linear-gradient(lightgray, lightgray 50%, #023E8A 50%, #023E8A);
    background-size: 100% 200% ;
    border-bottom: solid 0.4rem #023E8A;
}

.menu__link:hover {
    background-position: 100% 100%;
    padding-bottom: 0.8rem;
    border: 0;
}

.hover__pointer:hover {
    cursor: pointer;
}
