<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/introduction.css') }}">
    <script src="{{ url_for('static', filename= 'javascript/scripts.js') }}"></script>
    <title>Attitude</title>
</head>
<body>

{% include 'menu.html' %}
{% include 'mobileMenu.html' %}

<div class="content__title">
    <h1>Carbon Calculator for Schools</h1>
</div>

<div class="content">
    <div class="content__text">
    <h1>Attitude</h1>
<p>Climate awareness is at a high level in Finland. There is a pretty clear consensus among the youth (Youth Barometer 2019) that the climate crisis is real, and that it’s quite alarming for the future.
     In the Lukiolaisten ilmastoasenteet-kysely (“Climate attitudes of upper secondary school students questionnaire”) (University of Oulu 2020) 77% of North Ostrobothnian youth would be ready for their own school to become a pioneer in climate issues. However…</p>
<h2>Action Without Action Is Not Action</h2>
<p>
    If the driver’s compartment is dirty, the Wunderbaums have lost their scent, and the seat covers have holes from cigarettes, the cabin won’t turn squeaky clean just by thinking about it rigorously. Well planned is of course half done, but all the big and small climate plans around the planet have the same problem at the moment. They are not carried out. The current atmosphere in schools could be described as follows: we are more than ready for change, only if it causes us no trouble or if we don’t need to put effort into it.
     As long as our classmates or maybe the Chinese will take care of it. Buts, buts…
</p>
<h2>
    Only WE Can Change Our School
</h2>
<p>The biggest obstacle for change is inside our heads. Even though most of the carbon emissions seem “locked” in place, these systems were built by humans.
     So they are also solvable by humans. It has been claimed that a determined 3,5% minority can create change even if the majority are passive fools.
      That gives hope. You can find the nearest change maker by pointing the rearview mirror to yourself.</p></div>