<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/introduction.css') }}">
    <script src="{{ url_for('static', filename= 'javascript/scripts.js') }}"></script>
    <title>Current State</title>
    <link rel="icon" type="image/x-icon" href="./static/images/logo.png">
</head>
<body>

{% include 'menu.html' %}
{% include 'mobileMenu.html' %}

<div class="content__title">
    <h1>Current State</h1>
</div>

<div class="content">



    <div class="content__text">
        <h2>The Carbon Footprint Calculator for Schools Is out Now!</h2>
        <h2>For now the materials are available only in Finnish.</h2>
        <p>Explore the recently published school carbon footprint calculation model and a user interface demo designed for it! The calculation model and the user interface demo have been designed and built by students in the Häme University of Applied Sciences together with the experts in their school, the school communities of the pilot upper secondary schools, and the project leaders. A separate calculation model and user interface demo were made in this project and in the future they will be made into a joint application. Keep an eye out!

The goal was to design a calculator which doesn’t only calculate the carbon footprint, but also makes it a shared learning experience!</p>

        <h2>Calculate the Emissions of Your School with the Calculator:</h2>
        <p>
            Carbon Footprint Calculator for Schools (Excel)
        </p>

        <p>
            Final Gala Presentation
        </p>

        <p> The first training for the use of the calculator was kept in April, follow the In English page for more trainings or Contact us.

The calculation model was made by students in the Häme University of Applied Sciences: Saara Kinnunen, Katarina Ponkilainen, Bahez Mohammed, OP Aaltonen, Matilda Lindholm, and Omid Rahi.
If you use, share, or change the calculation model, remember to mention the creator of the project (Climate Upper Secondary Schools project & Häme University of Applied Sciences, 2022) and provide a link to the original file on this website. CC license: CC-BY.</p>

        <h2>Carbon Footprint Calculator for Schools User Interface Demo</h2>

        <p>
            Carbon Footprint Calculator for Schools (User interface demo)
        </p>

        <p>
            Final Gala Presentation
        </p>
        <p>These user interface demos were made by students in the Häme University of Applied Sciences: Artturi Heikkinen, Kasper Vuorinen, Minnamari Kuusisto, Maija Pyhälammi, Heidi Toivola, Eemi Salo, Niko Puustinen ja Sauli Korpi. Their teacher was Johanna Salmia. </p>
<p>
If you use, share, or change user interface demos, remember to mention the creator of the project (Climate Upper Secondary Schools project & Häme University of Applied Sciences, 2022) and provide a link to the original file on this website. CC license: CC-BY.</p>

         <h2>Quick Overview</h2>
        <p>
           Quick overview of the school’s climate state DOC
        </p>

        <p>
            Quick overview of the school’s climate state PDF
        </p>

        <p>
            You may use the attached form to help evaluate your school’s current climate state on a general level, or as a basis before calculating the carbon footprint of the school with the calculation model.


        </p>

        <h2>  Map Out the Climate Attitude </h2>
        <p>
            The school’s climate attitude query template DOC
        </p>
        <p>
            The school’s climate attitude query template PDF
        </p>
        <p>
            With this query template you can create a questionnaire and map out your school’s climate attitude, since the calculation model involves calculating the emissions only in the Food, Motion, and Infrastructure sections.
        </p>

        <h2>  Toward a Carbon Neutral School </h2>
        <p> Investigating the current state is one part of the Road Map toward a Carbon Neutral School know-how badge family. Other parts are the Vision and Route planning, as well as the compiling Road Map badge. The goal is to create an operating model that includes the whole school by the autumn of 2022. Compilations of the current state of schools and the results of carbon footprint calculations will also be added here later.</p>
        <p> Get inspired, adapt, and start repairing your school for carbon neutrality with the help of the whole community.</p>
    </div>

</div>

</body>
</html>