<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/introduction.css') }}">
    <script src="{{ url_for('static', filename= 'javascript/scripts.js') }}"></script>
    <title>Food</title>
</head>
<body>

{% include 'menu.html' %}
{% include 'mobileMenu.html' %}

<div class="content__title">
    <h1>Carbon Calculator for Schools</h1>
</div>

<div class="content">
<div class="content__text">
    <h1>Food</h1>
<p>The catering, or better known as the school lunch, is as important to upper secondary schools as gasoline is to the engine. 
    Although right now the gasoline is too high in octane, meaning we consume too many meat and dairy products. 
    The seals on the carburetor are also leaking, that is, food is being wasted. 
    The engine is sputtering and giving off smoke.</p>

<h2>It’s Just One Lunch, What Does It Matter?</h2>
<p>Now someone may be thinking, what does one school lunch matter? 
    A lot, in fact, because 100,000 of those lunches are served each day. 
    The school lunch carbon footprint varies a lot daily (0.1–2 kg Co2-e), so, every healthy and tasty, 
    climate-proof adjustment really does change the world!</p>

<h2>Don’t Bully Vegetables</h2>

<p>Food causes around one fifth of the emissions escalating climate change—as much as transportation. 
    The emissions caused by schools could be halved if the amount of vegetarian food was raised to 70%, 
    and the current amount of food thrown away was 50% smaller. More peas and broccoli, yummy! 
    Non-fiction author Jonathan Safran Foer claims that climate change could be stopped if humans quit eating food of 
    animal origin before noon. Food really is not to be played with when saving the climate.</p>

<h2>Euros Thrown in the Trash</h2>
<p>In the scale of one municipality already, the numbers of lunch waste are hefty. 
    For example, by halving the emissions of the food served in schools and daycare centers in Turku, 
    electricity could be provided to nearly three thousand apartments for a year. 
    Food waste in Oulu costs over one million Euros per year, and almost 1500 kg of food is wasted each day. 
    That creates quite an amount of unnecessary carbon dioxide in our atmosphere.</p>

</div>
</div>
</body>
</html>