<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
    <title>Login</title>
</head>
<body>

{% include 'menu.html' %}
{% include 'mobileMenu.html' %}

<div class="wrap">
    <div class="form">
      <h1>Infrastructure</h1>
        <form method="post" action="/infaform">
          <div class="form-area">
            <div class="form-list">
              <label for="text" class="form-label">How much is your schools eletricityconsumption in mWh?</label>
              <input type="text" required="required" placeholder="" class="form-input"/>
              <div class="form-background"></div>
                </div>
              <div class="form-list">
              <label for="text" class="form-label">Does your school have some zero emission electricity source?</label>
              <input type="text" required="required" placeholder="" class="form-input"/>
              <div class="form-list">
                <label for="text" class="form-label">Does your school have some zero emission electricity source?</label>
                <input type="text" required="required" placeholder="" class="form-input"/>
              <div class="form-background"></div>
            </div>
          </div>
          <input type="submit" class="form-button" value="Submit"/>
          </div>
        </form>
      </div>
  </div>
</body></html>