<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
    <title>Login</title>
</head>
<body>

{% include 'menu.html' %}


  <div class="wrap">
    <div class="form">
      <h1>Log in</h1>
        <form method="post" action="/login-authentication">
          <div class="form-area">
            <div class="form-list">
              <label for="username" class="form-label">Username:</label>
              <input type="text" required="required" placeholder="example" class="form-input"/>
              <div class="form-background"></div>
                </div>
              <div class="form-list">
              <label for="password" class="form-label">Password:</label>
              <input type="password" required="required" placeholder="example1234" class="form-input"/>
              
              <div class="form-background"></div>
            </div>
          </div>
          <input type="submit" class="form-button" value="Sign in"/>
          <p>Don't have an account yet? Sign up <a href="registrationPage.html">here. </p></div>
        </form>
      </div>
  </div>



<script>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
</script>
</body>
</html>