<header class="menu__mobile hover__pointer" onclick="mobile_menu()" id="menu">
    <div class="mobile__bar" id="bar"></div>
    <div class="mobile__bar" id="bar2"></div>
    <div class="mobile__bar" id="bar3"></div>
</header>

<div class="overlay" id="overlay">
    <div class="overlay__links">
        <h3 onclick="window.location.href = '/';">Introduction </h3 >
        <h3 onclick="window.location.href = '/food';">Food</h3>
        <h3 onclick="window.location.href = '/attitude';">Attitude  </h3>
        <h3 onclick="window.location.href = '/infrastructure';">Infrastructure</h3>
         <h3 onclick="window.location.href = '/motion';" >Motion</h3>
        <h3 onclick="window.location.href = '/currentstate';">Current State</h3>

        {% if current_user.is_authenticated %}
            <h3 onclick="window.location.href = '/logout';">Log out</h3>
            <h3 onclick="window.location.href = '/dashboard';">Dashboard</h3>
        {% else %}
            <h3 onclick="window.location.href = '/login';">Log In</h3>
            <h3 onclick="window.location.href = '/register';">Register</h3>
        {% endif %}
    </div>
</div>