<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" id="newSchoolForm" name="newSchoolForm" action="/create_school_account">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="name">School name:</label>
        <input type="text" name="name" id="name">
        <label for="city">School address(city):</label>
        <input type="text" name="city" id="city">
        <label for="num_student">Number of students:</label>
        <input type="number" name="num_student" id="num_student">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
        <input type="submit">
    </form>
</div>

</body>
</html>