<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/registration.css') }}">
    <title>Register</title>
</head>
<body>

    {% include 'menu.html' %}

    <div class= "row">
        <div class="form">
        <h1>Create account</h1>
    <form method="post" id="schoolForm" name="schoolForm" action="/create_account">
        <label for="email">Email:</label>
        <div class="text_field">
        <input type="text" name="email" id="email"></div>
        <label for="forename">Forename:</label>
        <div class="text_field">
        <input type="text" name="forename" id="forename"></div>
        <label for="surname">Surname:</label>
        <div class="text_field">
        <input type="text" name="surname" id="surname"></div>
        <label for="username">Username:</label>
        <div class="text_field">
        <input type="text" name="username" id="username"></div>
        <label for="password">Password:</label>
        <div class="text_field">
        <input type="text" name="password" id="password"></div>

        <label for="school">Select your school</label>
        <div class="text_field">
        <select name="school" id="school" form="schoolForm"></div>
            {% for school in schools %}
                <option value="{{ school[0] }}">{{ school[1] }}</option>
            {% endfor %}
        </select>

        <input type="submit">
    
    </form>
</div>
</div>
</body>
</html>