<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
    <title>Transport form</title>
  <link rel="icon" type="image/x-icon" href="./static/images/logo.png">
</head>
<body>

{% include 'menu.html' %}
{% include 'mobileMenu.html' %}


  <div class="wrap">
    <div class="form">
      <h1>Transport Form</h1>
        <div class="form-area">
            <div class="form-list">
              <label for="text" class="form-label">Distance:</label>
              <input type="text" required="required" placeholder="Enter" class="form-input"/>
              <div class="form-background"></div>
                </div>
              <div class="form-list">
              <label for="password" class="form-label">Amount:</label>
              <input type="number" required="required" placeholder="Enter" class="form-input"/>

              <div class="form-background"></div>
            </div>
          </div>
          <input type="submit" class="form-button" value="Submit" onclick="window.location.href = '/food';"/>

        </form>
      </div>
  </div>



</body>
</html>